*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("clock.com");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.timer-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#timer{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: aliceblue;
}