body{
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: bold; */
    /* font-size: 2rem; */
    margin: 0;
    background-color: rgba(248, 232, 204, 0.619);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-form{
    margin: 20px;
}

.cityInput{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    width: 350px;
}

button[type="submit"]{
    font-size: 2rem;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #28a746bc;
    color: white;
    cursor: pointer;
}

button[type="submit"]:hover{
    background-color: #28a746e9;
}

.card{
    background: linear-gradient(120deg, hsla(240, 100%, 65%, 0.967),rgb(246, 181, 60));
    padding: 50px;
    border-radius: 15px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.877);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin: 0;
    margin-bottom: 25px;
}

p{
    font-size: 1.5rem;
    margin: 5px 0;
}

.cityDisplay, .tempDisplay{
    font-size: 3.5rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.863);
    margin-bottom: 25px;
}

.humidityDisplay{
    font-weight: bold;
    margin-bottom: 25px;
}

.descDisplay{
    font-weight: bold;
    font-style: italic;
    font-size: 2rem;
}

.weatherEmoji{
    margin: 0;
    font-size: 7.5rem;
}

.errorDisplay{
    font-size: 2.5rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.764);
}